* {
    font-family: "Montserrat", source-han-sans-traditional, sans-serif,
      "Microsoft JhengHei";
    font-style: normal;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* 解決手機端頁面的鼠標點擊出現藍色背景 */
    /* border: 1px solid rgb(255, 255, 255); */
  }
  
  html {
    background-color: #d4cbc7;
    margin: 0;
  }
  